files:
  /etc/nginx/conf.d/https.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      # HTTPS server

      server {
          listen       443;
          server_name  localhost;
          
          ssl                  on;
          ssl_certificate      /etc/pki/tls/certs/server.crt;
          ssl_certificate_key  /etc/pki/tls/certs/server.key;
          
          ssl_session_timeout  5m;
          
          ssl_protocols  TLSv1 TLSv1.1 TLSv1.2;
          ssl_prefer_server_ciphers   on;

          # For enhanced health reporting support, uncomment this block:

          #if ($time_iso8601 ~ "^(\d{4})-(\d{2})-(\d{2})T(\d{2})") {
          #    set $year $1;
          #    set $month $2;
          #    set $day $3;
          #    set $hour $4;
          #}
          #access_log /var/log/nginx/healthd/application.log.$year-$month-$day-$hour healthd;
          #access_log  /var/log/nginx/access.log  main;
          
          location / {
              proxy_pass  http://127.0.0.1:8080;
              proxy_set_header   Connection "";
              proxy_http_version 1.1;
              proxy_set_header        Host            $host;
              proxy_set_header        X-Real-IP       $remote_addr;
              proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
              proxy_set_header        X-Forwarded-Proto https;
          }
      }
      
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIC+zCCAeMCFGgpHCtIHkOMQC9qtCfAoHELXUuEMA0GCSqGSIb3DQEBCwUAMDox
      CzAJBgNVBAYTAlVBMQ0wCwYDVQQIDARMdml2MQ0wCwYDVQQHDARMdml2MQ0wCwYD
      VQQKDARTb2Z0MB4XDTIxMDMxOTE2MzQzMVoXDTIyMDMxOTE2MzQzMVowOjELMAkG
      A1UEBhMCVUExDTALBgNVBAgMBEx2aXYxDTALBgNVBAcMBEx2aXYxDTALBgNVBAoM
      BFNvZnQwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQDPhuC6NXK6kESL
      PmlT8DnFU+e/vm8ATcNj+hhGB3Rpo2FeQltQ3+7FbXHpyQ7VhX/3sA9LQsLccTrT
      nyXx+94M6aZ2szfzcqwRIotkAXzww0zuDhDS/wnI7Q2H7CfunpVZ5gqSajb6zBFZ
      BDlxYNZ3RyHSWvQgL3oVwWH2e28Fk9KUYneMy6WQvs+/jEwY17sYDHeWMqTdn4Bv
      JYh0Tn/7zWApCb1+pSDl0Kpyt36PURYuE5kFAqF/rrdAAwFhZ5tCzVyqeJ1A7Cx+
      sGMY4EHqZjMQOuTJsLiguSP+ZCph1NSglLbf3w4kc6SSMts1884nmvvlxY0WzPoj
      cqC15nOjAgMBAAEwDQYJKoZIhvcNAQELBQADggEBAFRitsdzeatYXckfqxIfFGP9
      1pgfNkrlrEZXcNDok5D0IWCIKWffa9lZrO6gRTI7P5YkOQRZTqLFx7emayPH/th7
      /IUEhP79GXP/jQY//21GMN09aCdPtP4LmF17/hoGJlJgS+Z+0sfu+UG8x5k0EFS2
      IkbqJAPuurTGg1tbbncs0odOZDcJP4Z1IEcCYGQ4cIG+IRdQpCE/TdIEA9WR2Ovf
      GYGM1pjPmdPNPc6+qRx+32i3PHQFAfIX/43QXEFzMNkroTfMnYH1518Gw6Dz/yqh
      zNaPBT9dtqvaTckCbD5RHeK3p853X/32HYMcP83fLLMb3PK07zU/KYnFPgzmeR0=
      -----END CERTIFICATE-----
      
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEowIBAAKCAQEAz4bgujVyupBEiz5pU/A5xVPnv75vAE3DY/oYRgd0aaNhXkJb
      UN/uxW1x6ckO1YV/97APS0LC3HE6058l8fveDOmmdrM383KsESKLZAF88MNM7g4Q
      0v8JyO0Nh+wn7p6VWeYKkmo2+swRWQQ5cWDWd0ch0lr0IC96FcFh9ntvBZPSlGJ3
      jMulkL7Pv4xMGNe7GAx3ljKk3Z+AbyWIdE5/+81gKQm9fqUg5dCqcrd+j1EWLhOZ
      BQKhf663QAMBYWebQs1cqnidQOwsfrBjGOBB6mYzEDrkybC4oLkj/mQqYdTUoJS2
      398OJHOkkjLbNfPOJ5r75cWNFsz6I3KgteZzowIDAQABAoIBAB9F4A+vhj5/BxVE
      rnKrvMjzv/SxKeEN1uf2BDppXS2eJUojDce+NykhOQ1V8xpSJ9qXeXaJ9PtrRMYn
      MXypy+h+PUud7kyNd0iNwBut7boKdElbbUWekUbqEiPtfocC9ta5R9aQkwBwSBz1
      +gIP6cHHwl0Ev80p2mf04GJYb36TZqw2QJZE5fIrkGPll7sFmeJb80rml6N/Pe6a
      iXlAk35JfePXfFC4UNkF+eLcTMXyG59NQYKE8bP8MIuDpsM3J4RPSLKCBNtS1eVS
      5VN94s3x5cIbyqNgmNNTiEeivtmbtFlXMA4gn4mDWGw7q73Pc45NLacGRUZ6a211
      XY1uP6ECgYEA55i3yrk7q/1qyR5P5xBbq4KC1w7bMsUJ8/JEzc+0uRBHPkoDFDUh
      +bJp/wmXa9UgDQCG/B63YvS2aPXoKIO2BOR0lV8ec8QypI/a8aAw/+mYG8STlxoK
      i4YOAqoebXa0DE8GliIZghUwNVbZhl6Jz4erEf7wQ2aP3rAiA2WpmZ0CgYEA5WTi
      OtzAfoZUEC7RtjP/gseshr2fwKK4+OUsauoEWLtI2XbJRngnjtoN8WB2c+0hVrLD
      O/WTZ171SQJZag4rPlpwFOiSr+7Jd4vlpzjwNZCz3b/y3vip51NgEmuF9WsCjykh
      OMMlTz6StDGZngFS8OSO3XRDL9ntonPQEeMqXj8CgYEAqncAINkCkO9wYCRNj7e8
      oZrojz7CHLZnQwV5mztcvDK9HZ4AcilBnraxyiTXLWmrs6ZFtOEu/kk80jjd7qQz
      n5pALYnbsj4hQHsaHmtYZaUcbqPcNoXWaSf8u/1XdB7BG6Y3JN5ohBTwbPJGHd8L
      9JLZWd+aHSIqlzBxeKqlkQkCgYADbFf77ONqf/KtMyWqBGihuP0YHahOpZ8BB9p7
      1fYupMzXgfBK/uwIM7TVj0z1Oeqvcod7U5TZjA85AbH35TI8Afl+NmJKAdQ71nic
      4Dqlcf1dJ8omDavradEbNUOQgAJPxJtcT301C4gA7GSQeRCVy7NeFqgSBLyJGhVW
      zv8I3QKBgFETexyFXqLljWZGsf1ZlQFRP8qmSZnpBOTxgcfl4mrOuS/j0teQlgB0
      1faBiQbvdDvkH1llJo/OslbPyxFMihjSb2R6iLJp07o3xLt0jTFac1THA65UgJpr
      jWEtCInRfg0INCyrHkVOm+1oDkav8VoSQ0KSohPko9sN5YN29yvg
      -----END RSA PRIVATE KEY-----
